<section>
  <ol class="row">
    <li class="span4">Current items</li>
    <li class="span4">Cache miss ratio</li>
    <li class="span4">Current memory usage</li>
  </ol>

  <div class="row">
    <div id="chart1" class="span6"></div>
    <div id="chart2" class="span6"></div>
  </div>

  <div class="row">
    <div id="chart3" class="span6"></div>
    <div id="chart4" class="span6"></div>
  </div>

</section>